@page
@{
}
 
<div class="text-center">
<form action="">
  <label for="nombre" class="form-label">Id Bus:</label>
  <input type="text" class="form-control" id="nombreBus" name="nombreBus" placeholder="Id Bus">
  <label for="marca" class="form-label">Marca Bus:</label>
  <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca bus">
  <label for="modelo" class="form-label">Modelo Bus:</label>
  <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo Bus">
  <label for="kilometraje" class="form-label">Kilometraje Bus:</label>
  <input type="number" class="form-control" id="kilometraje" name="kilometraje" placeholder="Kilometraje Bus">
  <label for="noasientos" class="form-label">Numero asientos Bus:</label>
  <input type="text" class="form-control" id="noasientos" name="noasientos" placeholder="Numero asientos Bus">
  <label for="placa" class="form-label">Placa Bus:</label>
  <input type="text" class="form-control" id="placa" name="placa" placeholder="Placa Bus">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
