@page
@model ProyectoCiclo3.App.Frontend.Pages.FormBusModel
@{
}
 
<div class="text-center">
<form method="POST">
  @*<label for="nombre" class="form-label">Id Bus:</label>
  <input type="text" class="form-control" id="id" name="id" placeholder="Id Bus" required>*@

  <label for="marca" class="form-label">Marca Bus:</label>
  <input type="text" class="form-control" placeholder="Marca" required asp-for="Bus.marca">
  <span class="text-danger" asp-validation-for="Bus.marca"></span>

  <label for="modelo" class="form-label">Modelo Bus:</label>
  <input type="text" class="form-control"  placeholder="Modelo Bus" required asp-for="Bus.modelo">

  <label for="kilometraje" class="form-label">Kilometraje Bus:</label>
  <input type="number" class="form-control"  placeholder="Kilometraje Bus" required asp-for="Bus.kilometraje">

  <label for="noasientos" class="form-label">Numero asientos Bus:</label>
  <input type="text" class="form-control"  placeholder="Numero asientos Bus" required asp-for="Bus.numero_asientos">

  <label for="placa" class="form-label">Placa Bus:</label>
  <input type="text" class="form-control"  placeholder="Placa Bus" required asp-for="Bus.placa" maxlength="6" minlength="6">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
