@page
@model ProyectoCiclo3.App.Frontend.Pages.FormRutaModel
@{
}
 
<div class="text-center">
<form method="POST">
  @*<label for="id" class="form-label">Id Ruta:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="Id Ruta" required>*@

  <label for="origen" class="form-label">Origen Ruta:</label>
  <select asp-for="Ruta.origen" class="form-control" required>
        <option value="">Selecciona el origen</option>
        @foreach (var estacion in Model.Estaciones)
    {
        <option value="@estacion.id">@estacion.nombre</option>
    }
    </select>

  <label for="destino" class="form-label">Destino Ruta:</label>
  <select asp-for="Ruta.destino" class="form-control" required>
        <option value="">Selecciona el destino</option>
        @foreach (var estacion in Model.Estaciones)
    {
        <option value="@estacion.id">@estacion.nombre</option>
    }
    </select>

  <label for="tiempo_estimado" class="form-label">TiempoEstimado Ruta:</label>
  <input type="number" class="form-control"  placeholder="TiempoEstimado Ruta" required asp-for="Ruta.tiempo_estimado">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
