@page
@model ProyectoCiclo3.App.Frontend.Pages.EditRutaModel
@{
    var ruta = Model.Ruta;
}
 
<div class="text-center">
<form method="post">
  <label for="id" class="form-label">Id Ruta:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="Id Ruta" asp-for="@ruta.id" required>
  <label for="origen" class="form-label">Origen Ruta:</label>
  <input type="number" class="form-control" id="origen" name="origen" placeholder="Origen Ruta" asp-for="@ruta.origen" required>
  <label for="destino" class="form-label">Destino Ruta:</label>
  <input type="destino" class="form-control" id="destino" name="destino" placeholder="Destino Ruta" asp-for="@ruta.destino" required>
  <label for="tiempo_estimado" class="form-label">TiempoEstimado Ruta:</label>
  <input type="number" class="form-control" id="tiempo_estimado" name="tiempo_estimado" placeholder="TiempoEstimado Ruta" asp-for="@ruta.tiempo_estimado" required>
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
