@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEstacionModel
@{
}
 
<div class="text-center">
<form method="POST">
  <label for="id" class="form-label">Id Estacion:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="Id Estación">
  <label for="nombre" class="form-label">Nombre Estacion:</label>
  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre Estacion">
  <label for="direccion" class="form-label">Direccion Estacion:</label>
  <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direccion Estacion">
  <label for="coord_x" class="form-label">CoordX Estacion:</label>
  <input type="number" class="form-control" id="coord_x" name="coord_x" placeholder="CoordX Estacion">
  <label for="coord_y" class="form-label">CoordY Estacion:</label>
  <input type="number" class="form-control" id="coord_y" name="coord_y" placeholder="CoordY Estacion">
  <label for="tipo" class="form-label">Tipo Estacion:</label>
  <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Tipo Estacion">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
