@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEstacionModel
@{
}
 
<div class="text-center">
<form method="POST">
  @*<label for="id" class="form-label">Id Estacion:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="Id Estación" required>*@

  <label for="nombre" class="form-label">Nombre Estacion:</label>
  <input type="text" class="form-control"  placeholder="Nombre Estacion" required asp-for="Estacion.nombre">
  <span class="text-danger" asp-validation-for="Estacion.nombre"></span>

  <label for="direccion" class="form-label">Direccion Estacion:</label>
  <input type="text" class="form-control"  placeholder="Direccion Estacion" required asp-for="Estacion.direccion">

  <label for="coord_x" class="form-label">CoordX Estacion:</label>
  <input type="number" class="form-control"  placeholder="CoordX Estacion" required asp-for="Estacion.coord_x">

  <label for="coord_y" class="form-label">CoordY Estacion:</label>
  <input type="number" class="form-control"  placeholder="CoordY Estacion" required asp-for="Estacion.coord_y">
  
  <label for="tipo" class="form-label">Tipo Estacion:</label>
  <input type="text" class="form-control"  placeholder="Tipo Estacion" required asp-for="Estacion.Tipo">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
